.AppHeader {
	width: 100%;
	height: 86vh;
	display: flex;
	position: relative;
	top: 7vh;
}

.blockDay{
	text-align: center;
	margin: 5vh auto;
	width: 30%;
}

.day{
	background-color: var(--bgcV1);
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	transition: background-color 1s ease;
	display: grid;
	grid-template: repeat(5, auto)/1fr 20% 1fr;
}

.nav_i{
	text-decoration: none;
	border: 1px solid var(--bcV1);
	cursor: pointer;
	color: var(--cV1);
	font-size: 1.25vw;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;
	transition-property: color, text-shadow, border-color;
	margin: -0.5px;
	padding: 5px;
	position: relative;
}

#nav_i:hover, #nav_i:hover *{
	color: #00ff00 !important;
	text-shadow: 0 0 2vw #66ff66;
}