.posit{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: fit-content;
	text-align: center;
	margin: auto;
}

.help, .helpa{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--cV2);
	font-size: 2vmax;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	text-shadow: 2px 2px 2px #000;
	transition: color 1s ease;
}

.helpa{
	text-decoration: underline;
	cursor: pointer;
}

.AppHeader {
	width: 100%;
	height: 93vh;
	position: relative;
	top: 7vh;
	display: none;
}

.startimg{
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: fit-content;
	cursor: pointer;
	text-align: center;
}

.startimgText{
	color: var(--cV2);
	font-size: 1.5vmax;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000;
	transition: color 1s ease;
}

.g{
	position: relative;
	cursor: pointer;
	top: 10%;
	left: 10%;
	height: fit-content;
}

.g_block{
	position: relative;
	opacity: 0;
	display: none;
}

.g_block[data-act="1"]{
	opacity: 1;
	display: block;
}

.g_block_text{
	position: absolute;
	bottom: 10%;
	left: 10%;
	color: #00ee00;
	font-size: 2vw;
	font-weight: bold;
	text-shadow: 3px 3px 4px #000;
	z-index: 1;
}

.g_block_shad{
	box-shadow: 5vmax 5vmax 10vmax #000000aa inset, -5vmax -5vmax 10vmax #000000aa inset;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	border-radius: 10px;
	opacity: 0;
	transition: opacity ease 1s;
}

.g:hover > .g_block_shad{
	opacity: 1;
}

.pic_g{
	height: 50vh;
	aspect-ratio: 16/9;
	border-radius: 10px;
}

.pic_l{
	position: absolute;
	top: 0;
	left: 5%;
	bottom: 0;
	margin: auto;
	opacity: 0;
	cursor: pointer;
}

.pic_r{
	position: absolute;
	top: 0;
	right: 5%;
	bottom: 0;
	margin: auto;
	transform: rotate(180deg);
	opacity: 0;
	cursor: pointer;
}

.g:hover > .pic_l{
	opacity: 1;
}

.g:hover > .pic_r{
	opacity: 1;
}

.indic{
	position: absolute;
	bottom: 5%;
	right: 10%;
	display: flex;
	gap: 10px;
}

.indic_bl{
	height: 1vh;
	width: 1vh;
	border-radius: 50%;
	border: 5px solid #777777;
	box-shadow: 2px 2px 5px #000;
	cursor: pointer;
}

.indic_bl[data-act="1"]{
	border-color: #ff9900 !important;
}

.vxod, .reg{
	background-color: var(--bgcV1);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 12px;
	margin-top: 3vh;
	margin-bottom: 2vw;
	-webkit-transition: transform 1s ease;
	-o-transition: transform 1s ease;
	transition: transform 1s ease;
	text-align: initial;
}

.reg{
	display: none;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

.dogov{
	background-color: rgb(245, 246, 247);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 12px;
	width: 50%;
	height: 75%;
	display: inline-block;
	vertical-align: middle;
}

.v{
	display: none;
	-webkit-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 0;
}

.r{
	-webkit-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 1;
}

.grid_cont_l, .grid_cont_r{
	display: grid;
	place-items: center;
	grid-template: repeat(2,auto) / repeat(2,auto);
	justify-items: start;
}

.lic{
	color: var(--cV1);
	cursor: pointer;
	font-size: 1vw;
	font-weight: bold;
	margin: 0 1.5vmax;
	transition: color 1s ease;
}

.lic_text{
	margin: 10px;
	overflow: overlay;
	height: 85%;
	text-align: left;
}

.lic_but_text{
	padding: 5px;
	display: inline-block;
}

.url{
	cursor: pointer;
	text-decoration: underline;
	font-size: 1.1vw;
	vertical-align: middle;
	margin-left: 5px;
}

.over{
	width: 100%;
	height: 100%;
	background: #00000055;
	position: fixed;
	text-align: center;
	display: none;
	top:0;
}

.over:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}

.login, .pass {
	-webkit-border-radius: 0.5vmax;
	border-radius: 0.5vmax;
	display: block;
	background-color: #4d4d4d;
	user-select: none;
	-webkit-box-shadow: 0 1px white, inset 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px white, inset 0 2px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid var(--bcV2);
	font-size: 2.2vmax;
	height: 10vh;
	margin-left: 1.5vmax;
	padding-left: 1.5vmax;
	width: 30vw;
	position:relative;
	transition: background-color 1s ease;
	transition-property: background-color, border-color;
}

.nav_i{
	cursor: default;
	color: var(--cV1);
	font-size: 1.25vw;
	font-weight: 500;
	margin-block: 0.2vw;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;
	transition-property: color, text-shadow, border-color;
}

#nav_i:hover{
	color: #00ff00 !important;
	text-shadow: 0 0 2vw #66ff66;
}

.button {
	padding: 1.5vmax 1.5vmax;
	display: inline-block !important;
	margin-top: 9px !important;
}

.button[data-enable="0"] {
	pointer-events: none;
	opacity: 0.4;
}

.rand{
	-webkit-border-radius: 5px;
	border-radius: 5px !important;
	margin-left: 9px;
	font-size: 2vmin !important;
	height: 5vh;
	padding-inline: 1vw;
	font-weight: normal !important;
	display: flex;
	align-self: center;
	margin-top: 9px;
}

.rand:hover
{
	text-shadow: none;
	-webkit-box-shadow: 0 0 5px 5px #B8860B, inset 0 -50px 2px rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 5px 5px #B8860B, inset 0 -50px 2px rgba(255, 255, 255, 0.2);
}

.rand:active
{
	text-shadow: none;
	-webkit-box-shadow: 0 0 10px 10px #B8860B, inset 0 -50px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 10px #B8860B, inset 0 -50px 2px rgba(0, 0, 0, 0.2);
}

.tex{
	pointer-events: none;
	display: inline-block;
	align-self: center;
}

.randimg{
	width: 4vmin;
	height: 4vmin;
	align-self: center;
	pointer-events: none;
}

.warnimg{
	transform: translate(0%, -5%);
	vertical-align: middle;
	width: 2vw;
}

.pass{
	margin-top: 9px;
}

.logo{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--cV1);
	font-size: 3vw;
	font-weight: bolder;
	margin-left: 12px;
	margin-bottom: 9px;
	transition: color 1s ease;
}

.logoi{
	width: 8vw;
	height: 8vw;
}

.warn{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline;
	font-size: 1vw;
	color: #c14503;
	font-weight: bolder;
	margin-left: 0.5vmax;
	opacity: 0;
	vertical-align: sub;
}

.warnc{
	margin-left: 1.5vmax;
	grid-column: 1/2;
}

.zabpar{
	justify-self: center;
	cursor: pointer;
	text-decoration: underline;
}

.blockAva{
	display: inline-block;
	cursor: pointer;
}

.blockAva *{
	pointer-events: none;
}

.vxo[data-act='0']{
	display: none;
}

.vxo[data-act='1']{
	display: block;
}

.warncz{
	margin-left: 9px;
}

.butL{
	margin-left: 1.5vmax;
}

.butz{
	padding-block: 1vmax;
}

.inpz{
	height: 8vh;
}

.AppHeader[data-act="1"]{
	display: flex;
}

.block{
	margin: auto;
	text-align: center;
}

.block > img{
	width: 30vmin;
	height: 30vmin;
}

.block_text{
	width: 70vmin;
	color:var(--cV2);
	font-weight: bold;
	font-size: 1.5vw;
	text-shadow: 2px 2px 2px #000;
	transition: color 1s ease;
	text-align: left;
}