.AppHeader {
	width: 100%;
	display: flex;
	position: relative;
	top: 7vh;
	height: 93vh;
}

.nav_iZag{
	border: 1px solid var(--bcV1);
	border-radius: 5px;
	margin-left: 0.5vw;
	margin-block: 0.5vw;
	padding-left: 0.5vw;
	padding-block: 0.5vw;
}

.blockPro{
	margin: auto;
	width: 75%;
}

.pro{
	background-color: var(--bgcV1);
	padding: 20px;
	margin-block: 5vh;
	border-radius: 5px;
	transition: background-color 1s ease;
}

.nav_i{
	cursor: default;
	color: var(--cV1);
	font-size: 1.25vw;
	font-weight: 500;
    margin-block: 0.2vw;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;
	transition-property: color, text-shadow, border-color;
}

#nav_i:hover{
	color: #00ff00 !important;
	text-shadow: 0 0 2vw #66ff66;
}

.zag1{
	font-size: 1vw;
	text-decoration: underline;
	margin-left: 2vw;
	font-weight: bold;
	cursor: pointer;
}

.zag2{
	font-size: 1vw;
	margin-inline: 2vw;
}