.AppHeader {
	width: 100%;
	height: 86vh;
	display: flex;
	position: relative;
	top: 7vh;
}

.block{
	margin: auto;
	text-align: center;
}

.block > img{
	width: 30vmin;
	height: 30vmin;
}

.block_text{
	width: 70vmin;
	color:#009900;
	font-weight: bold;
	font-size: 1.5vw;
	text-shadow: 2px 2px 2px #000;
	transition: color 1s ease;
	text-align: left;
}

.blockDay{
	text-align: center;
	margin: 5vh auto;
	width: 30%;
}

.day{
	background-color: #DBDBDBe6;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	transition: background-color 1s ease;
	display: grid;
	grid-template: repeat(5, auto)/1fr 20% 1fr;
}

.nav_i{
	text-decoration: none;
	border: 1px solid #4d4d4d;
	cursor: pointer;
	color: #006600;
	font-size: 1.25vw;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	-webkit-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;
	transition-property: color, text-shadow, border-color, background-color;
	background-color: #dbdbdbe6;
	margin: -0.5px;
	padding: 5px;
	position: relative;
}

#nav_i:hover, #nav_i:hover *{
	color: #00ff00 !important;
	text-shadow: 0 0 2vw #66ff66;
}