.button {
  width: 600px;
  position: relative;
  left: 0px;
  bottom: 0px;
  margin: 0;
}

html, body, .rot, .App{
  height: 100%;
}

.header{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.rot{
  background: black;
}

.App{
  background: url("https://img.youtube.com/vi/ymkwwK9Gg0g/0.jpg");
  background-size: contain;
  position: relative;
}

.App:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}